<div>
	<h4><div>{{expense.title}}</div></h4>
	<div>
		{% if expense.description is not none %}
			{{ expense.description }}
		{% endif %}
		
	</div>
	<div>Rs. {{expense.amount}}</div>
	<div>
		<a href="{{url_for('edit', timestamp = expense.timestamp)}}">Edit</a>&emsp;   
		<a href="{{url_for('delete', timestamp = expense.timestamp)}}">Delete</a>
	</div>
	{% if expense.isModified() %}
		<div>Last modified: {{moment(expense.modified_time).fromNow()}} </div>
	{% endif %}
	<div>Created: {{moment(expense.timestamp).fromNow()}}</div>

</div>